body {
  background-color: #faebd7;
}

img {
  height: 250px;
  width: 250px;
}

ul {
  list-style-position: inside;
}

li {
  padding: 5px;
  margin: 5px;
  font-weight: bold;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}